<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Explainable AI Based Fraud Prediction and Detection</title>
</head>
  
<body>
    <div class="main">
    <div class="fraud">
        <h2>Explainable AI Based Fraud Prediction and Detection</h2>
        <br>
        <form id="register" action="{{url_for('predict')}}" method="post">
        &nbsp&nbsp&nbsp<label><b><align="left">Amount :</align></b></label>
        <br>
        &nbsp&nbsp<align="left">    
        <input type="text" size="35" name="amount"  placeholder="Enter your transaction amount">
        </align>
        <br><br>

        &nbsp&nbsp&nbsp<label><align="left"><b>Sender's Initial Balance  :</align></b></label>
        <br>
        &nbsp&nbsp<align="left"><input type="text" size="35" name="oldbalanceOrg" placeholder="Enter your initial balance before transaction">
        </align>
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align="left"><b>Sender's New balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text"  size="35" name="newbalanceOrig" placeholder="Enter your new balance">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Receiver's Initial Balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text" size="35" name="oldbalanceDest" placeholder="Enter your initial balance recipient">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Receiver's New Balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text" size="35" name="newbalanceDest" placeholder="Enter your new balance recipient">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Payment Mode :</align></b></label>
        <select name="paymode">
        <option value=0>Cash-In</option>
        <option value=1>Cash-Out</option>
        <option value=2>Debit</option>
        <option value=3>Payment</option>
        <option value=4>Transfer</option>
        </select>
            
        <center><button type="submit" class="button1">Submit</button></center>
        <br>
        
        </form>
            
    </div><!--end of fraud-->
    </div><!--end of main-->

</body>
</html>