<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="E:\Hackathon\Rajasthan_hackathon\static\style.css">
    <title>AI Based Financial Fraud Detection</title>
</head>
  
<body>
    <div class="main">
    <div class="fraud">
        <h2>AI Based Financial Fraud Detection</h2>
        <br>
        <form id="register" method="post">
        &nbsp&nbsp&nbsp<label><b><align="left">Amount :</align></b></label>
        <br>
        &nbsp&nbsp<align="left">    
        <input type="text" size="35" name="amount"  placeholder="Enter your transaction amount">
        </align>
        <br><br>

        &nbsp&nbsp&nbsp<label><align="left"><b>Sender's Initial Balance  :</align></b></label>
        <br>
        &nbsp&nbsp<align="left"><input type="text" size="35" name="oldbalanceOrg" placeholder="Enter your initial balance before transaction">
        </align>
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align="left"><b>Sender's New balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text"  size="35" name="newbalanceOrig" placeholder="Enter your new balance">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Receiver's Initial Balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text" size="35" name="oldbalanceDest" placeholder="Enter your initial balance recipient">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Receiver's New Balance :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text" size="35" name="newbalanceDest" placeholder="Enter your new balance recipient">
        <br><br>
            
        &nbsp&nbsp&nbsp<label><align><b>Payment Mode :</align></b></label>
        <br>
        &nbsp&nbsp<input type="text" size="35" name="type" placeholder="Enter your payment mode">
        <br><br>
            
        <center><input type="submit" value="Submit" name="submit" id="submit" class="button1"></center>
        <br>
        
        </form>
            
    </div><!--end of fraud-->
    </div><!--end of main-->

    <p class="p">
        {{ prediction_text }}
        <div class = "container">
            {{ exp|safe }}
        </div>
    </p>
</body>
</html>